.wrap{
    width: 1920px;
    height: 4000px;
    background-color: #0E0E0E;
    margin: 0 auto;
}
.wrapper{
    width: 1460px;
    height: 1500px;
    background-color: #171717;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #171717;
}
.logo{
    margin-top: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.call_back{
    margin-top: 37px;
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.call_back a{
    color: #E4B564;
    padding: 10px;
}
.topper{
    margin-top: 120px;
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-bottom: 40px;
}
.topper p{
    color: white;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
}
.topper span{
    display: flex;
    flex-direction: row;
    width: 1182px;
    height: 56px;
    color: white;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.grid_1{
    display: grid;
    width: 1460px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    grid-template-areas:
           "a a b b c c"
           "d d d e e e";
    grid-gap: 27px;
}
.main{
    display: flex;
    flex-direction: column;
}
.grid_1 > div {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 0px;
    text-align: center;
}
.item_a{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #634F2C;
    grid-area: a;
    width: 467px;
    height: 468px;
}
.item_b{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #B4A385;
    grid-area: b;
    width: 467px;
    height: 468px;
}
.item_c{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E4B564;
    grid-area: c;
    width: 467px;
    height: 468px;
}
.item_d{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #635A4A;
    grid-area: d;
    width: 715px;
    height: 468px;
}
.item_e{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #B08C4D;
    grid-area: e;
    width: 715px;
    height: 468px;
}
.grid_2{
    display: grid;
    width: 1460px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    grid-template-areas:
           "f g h"
           "f g k"
           "i g k"
           "i j k"
           "i j l";
    grid-gap: 25px;
}
.grid_2 > div {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.grid_2 > div >p{
    padding-top: 44px;
    padding-left: 52px;
}
.item_f{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #634F2C;
    color: #FFFFFF;
    grid-area: f;
    width: 467px;
    height: 313px;
}
.item_g{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #B4A385;
    grid-area: g;
    color: #FFFFFF;
    width: 467px;
    height: 439px;
}
.item_h{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #E4B564;
    grid-area: h;
    color: #FFFFFF;
    width: 467px;
    height: 255px;
}
.item_i{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #635A4A;
    grid-area: i;
    color: #FFFFFF;
    width: 467px;
    height: 560px;
}
.item_j{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #B08C4D;
    grid-area: j;
    width: 467px;
    height: 405px;
}
.item_k{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #B08C4D;
    grid-area: k;
    color: #FFFFFF;
    width: 467px;
    height: 313px;
}
.item_l{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #B08C4D;
    grid-area: l;
    color: #FFFFFF;
    width: 467px;
    height: 277px;
}
.footer_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.projects {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 1054px;
    background-color: #0E0E0E;
    margin: 0 auto;
}
.grid_3{
    display: grid;
    width: 1460px;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    grid-template-areas:
         "m n o"
         "p q r";
    grid-gap: 0px;
}
.grid_3 > div {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    padding: 0px;
    text-align: center;
}
.logo_center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.item_m{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #634F2C;
    color: #FFFFFF;
    grid-area: m;
    width: 487px;
    height: 391px;
    transition: transform .2s;
}
.item_n{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    background: #B4A385;
    grid-area: n;
    color: #FFFFFF;
    width: 487px;
    height: 391px;
}
.item_n p{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    padding-left: 100px;
    padding-right: 100px;
}
.item_o{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #E4B564;
    grid-area: o;
    color: #FFFFFF;
    width: 487px;
    height: 391px;
}
.item_p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #635A4A;
    grid-area: p;
    color: #FFFFFF;
    width: 487px;
    height: 391px;
}
.item_q{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #B08C4D;
    grid-area: q;
    width: 487px;
    height: 391px;
}
.item_r{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #634F2C;
    grid-area: r;
    width: 487px;
    height: 391px;
}
.logo_center{
    display: flex;
    flex-direction: column;
}
.item_m:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}
.item_n:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}
.item_o:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}
.item_p:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}
.item_q:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}
.item_r:hover{
    cursor: pointer;
    transform: scale(101%);
    border: #0E0E0E 1px solid;
}